.env
/.vs
/arma3
!arma3/
arma3/*
!arma3/mpmissions
arma3/mpmissions/*.pbo
!arma3/configs
!arma3/configs/basic.cfg.example
arma3/configs/*
!arma3/steamapps
arma3/steamapps/*
!arma3/steamapps/workshop
arma3/steamapps/workshop/*
!arma3/mods
arma3/mods/*
!arma3/servermods
arma3/servermods/*
/steam
