//
// More information at: http://community.bistudio.com/wiki/server.cfg
//

// STEAM PORTS
steamPort = 2302;

// GLOBAL SETTINGS
hostname = "hostname"; // The name of the server that shall be displayed in the public server list
password = "password"; // Password for joining, eg connecting to the server
passwordAdmin = "passwordAdmin"; // Password to become server admin. When you're in Arma MP and connected to the server, type '#login xyz'
serverCommandPassword = "";
admins[] = {"123"}; //add arma3 profile id to add default admins
logFile = "server_console.log"; // Tells ArmA-server where the logfile should go and what it should be called


// If you want to play with mods, BattlEye can and probably will break your game
// BattlEye=0;
