[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
py-cord = "2.2.0"
steamquery = "1.0.2"
requests = "2.31.0"

[dev-packages]
autopep8 = "*"
pylint = "*"

[requires]
python_version = "3.8"
